
@{
    ViewData["Title"] = "Order created!!!";
}

<h1>Order created!!!</h1>

<p>The order №@ViewBag.OrderId is created and will soon be processed</p>
<a asp-area="" asp-controller="Home" asp-action="Index">Back</a>